@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('./colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory';
}

::selection {
    background-color: var(--primary-color);
    color: white
}

body {
    min-height: 100vh;
    align-items:center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 40px;
}

.saver-container {
    max-width: 850px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;
}

.saver-welcome-image {
    margin-bottom: 41px;
    pointer-events: none;
}

.saver-container .login-form .input-box .input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid var(--input-border-box);
    transition: all 0.3s ease;
}

.saver-title {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 8px;
}

.saver-title.cadastro {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 8px;
    margin-top: 51px;
}

.saver-subtitle {
    font-weight: 300;
}

.saver-subtitle.cadastro {
    font-weight: 300;
    margin-bottom: 85px;
}

.saver-footer {
    margin-top: 18px;
}

.saver-footer .divider {
    margin: 18px 0;
    font-weight: bold;
}

@media (max-width: 500px) {
    .saver-title.cadastro {
        font-size: 42px;
    }
}